src/*.exe
src/artbyte
src/artbyted
src/test_artbyte
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.artbyte

# Compilation and Qt preprocessor part
*.qm
Makefile
Makefile.Release
Makefile.Debug
artbyte-qt
artbyte-Qt.app
artbyte-qt_plugin_import.cpp
object_script.artbyte-qt.*

# Unit-tests
Makefile.test
artbyte-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
